
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">Promo  app's</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="#home">Home</a></li>
						<li><a href="#feature">Products</a></li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" role="button" id="drop5">App Galary <b class="caret"></b></a>
							<ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu2">
								<li role="presentation">
									<a target="_blank" href="#home" tabindex="-1" role="menuitem">
										<i class="menu-icon fa fa-camera"></i>&nbsp;Photo Contests</a>
									</a>
								</li>
								<li role="presentation">
									<a target="_blank" href="#home" tabindex="-1" role="menuitem">
										<i class="menu-icon fa fa-video-camera"></i>&nbsp;Video Contests</a>
									</a>
								</li>
								<li role="presentation">
									<a target="_blank" href="#home" tabindex="-1" role="menuitem">
										<i class="menu-icon fa fa-thumbs-up"></i>&nbsp;Fan Offers</a>
									</a>
								</li>
								<li role="presentation">
									<a target="_blank" href="#home" tabindex="-1" role="menuitem">
										<i class="menu-icon fa fa-cubes"></i>&nbsp;Widgets</a>
									</a>
								</li>
								<li class="divider" role="presentation"></li>
								<li role="presentation"><a target="_blank" href="#home" tabindex="-1" role="menuitem"><i class="menu-icon fa fa-th-large"></i>&nbsp;All app</a></li>
							</ul>
						</li>
						<li><a href="#pricing">Pricing</a></li>
						<li><a href="#download">About</a></li>
						<li><a href="#contact">Contact</a></li>

                      <ul class="nav navbar-nav navbar-right">

                        <% if user_signed_in? %>
                            <li><%= link_to current_user.name, current_user %></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li><a href="#enter" id="enter">Login/Register</a></li>
                            <!--<li><%= link_to "Sign in", new_user_session_path %></li>-->
                        <% end %>
                      </ul>
					</ul>

				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<!-- start home -->
		<section id="home">
			<div class="overlay">
				<div class="container">
                  <div class="row">
                    <% if current_user %>
                        <%= "Hello, #{current_user.email}" %>
                    <% end %>
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                  </div>

					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
							<h1 class="text-upper">Best Facebook Software </h1>
							<p class="tm-white">Описание нового промо сайта.Надо придумать сюда его и поставить It is built with HTML5 .<br> Designed by <a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent">Andrey Makarevich</a>. Images by <a rel="nofollow" href="http://pixabay.com" target="_blank">Mendiyev Riyad</a></p>
							<img src="assets/software-img.png" class="img-responsive" alt="home img">
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end home -->
		<!-- start divider -->
		<section id="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-laptop"></i>
						<h3 class="text-uppercase">App one</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-twitter"></i>
						<h3 class="text-uppercase">App second</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-font"></i>
						<h3 class="text-uppercase">Facebook App Best</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
					</div>
				</div>
			</div>
		</section>
		<!-- end divider -->

		<!-- start feature -->
		<section id="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
						<h2 class="text-uppercase">Our Product Features</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
						<img src="assets/software-img.png" class="img-responsive" alt="feature img">
					</div>
				</div>
			</div>
		</section>
		<!-- end feature -->

		<!-- start feature1 -->
		<section id="feature1">
			<div class="container">
				<div class="row">
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<img src="assets/software-img.png" class="img-responsive" alt="feature img">
					</div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<h2 class="text-uppercase">More of Your Product</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end feature1 -->

		<!-- start pricing -->
		<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounceIn">
						<h2 class="text-uppercase">Our Pricing</h2>
					</div>
					<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
						<div class="pricing text-uppercase">
							<div class="pricing-title">
								<h4>Basic Plan</h4>
								<p>$11</p>
								<small class="text-lowercase">monthly</small>
							</div>
							<ul>
								<li>6 GB Space</li>
								<li>600 GB Bandwidth</li>
								<li>60 More Themes</li>
								<li>Lifetime Support</li>
							</ul>
							<button class="btn btn-primary text-uppercase">Sign up</button>
						</div>
					</div>
					<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
						<div class="pricing active text-uppercase">
							<div class="pricing-title">
								<h4>Business Plan</h4>
								<p>$22</p>
								<small class="text-lowercase">monthly</small>
							</div>
							<ul>
								<li>15 GB space</li>
								<li>1,500 GB Bandwidth</li>
								<li>150 More Themes</li>
								<li>Lifetime Support</li>
							</ul>
							<button class="btn btn-primary text-uppercase">Sign up</button>
						</div>
					</div>
					<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
						<div class="pricing text-uppercase">
							<div class="pricing-title">
								<h4>Pro Plan</h4>
								<p>$33</p>
								<small class="text-lowercase">monthly</small>
							</div>
							<ul>
								<li>35 GB space</li>
								<li>3,500 GB bandwidth</li>
								<li>350 more themes</li>
								<li>Lifetime Support</li>
							</ul>
							<button class="btn btn-primary text-uppercase">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end pricing -->

		<!-- start download -->
		<section id="download">
			<div class="container">
				<h2 class="text-uppercase">Info about company</h2>
				<div class="row">
					<div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">

						<p>
						<div class="overview">
							<table cellspacing="0" border="0">
								<!--
                                    <tr>
                                      <th valign="top">Mission</th>
                                      <td>To produce the highest quality true random numbers and make them available to the world in useful forms.</td>
                                    </tr>

                                    <tr><td>&nbsp;</td></tr>
                                -->
								<tbody><tr>
									<th valign="top">Registered Office</th>
									<td>RANDOM.ORG</td>
								</tr>
								<tr>
									<td></td>
									<td>Randomness and Integrity Services Ltd.</td>
								</tr>
								<tr>
									<td></td>
									<td>2 Waterloo Road, Unit 20</td>
								</tr>
								<tr>
									<td></td>
									<td>Dublin 4</td>
								</tr>
								<tr>
									<td></td>
									<td>Ireland</td>
								</tr>

								<tr><td>&nbsp;</td></tr>

								<!--
                                    <tr>
                                      <th valign="top">Contact</th>
                                      <td>Tel: +353 (0) 1 443 4128</td>
                                    </tr>

                                    <tr>
                                      <td></td>
                                      <td>Fax: [to appear]</td>
                                    </tr>
                                -->

								<tr>
									<th valign="top">Contact</th>
									<td>Skype: random.org</td>
								</tr>

								<tr>
									<td></td>
									<td>Web: <a href="https://www.random.org/">www.random.org</a></td>
								</tr>

								<tr>
									<td></td>
									<td>Email: <a href="mailto:contact@random.org">contact@random.org</a></td>
								</tr>

								<tr><td>&nbsp;</td></tr>

								<tr>
									<th valign="top">Country: </th>
									<td valign="top">Ireland</td>
								</tr>

								<tr><td>&nbsp;</td></tr>

								<tr>
									<th valign="top">Company Reg. No.</th>
									<td>489434</td>
								</tr>

								<tr><td>&nbsp;</td></tr>

								<tr>
									<th valign="top">Tax/VAT Reg. No.</th>
									<td>IE 9769936F</td>
								</tr>

								<tr><td>&nbsp;</td></tr>

								<tr>
									<th valign="top">Directors</th>
									<td><a href="/mads/">Dr Mads Haahr</a>, CEO, <a href="http://www.ieee.org/">MIEEE</a>, <a href="http://www.acm.org/">MACM</a>, <a href="http://www.ics.ie/">MICS</a>;</td>
								</tr>
								<tr>
									<td></td>
									<td>Dr Svend Haahr; Danish Nationals</td>
								</tr>

								</tbody></table>
						</div>
						</p>
						<button class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Show on map</button>
					</div>
					<div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
						<img src="assets/contact-map.jpg" class="img-responsive" alt="feature img">
					</div>
				</div>
			</div>
		</section>
		<!-- end download -->

		<!-- start contact -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<h2 class="text-uppercase">Contact Us</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
							<address>
								<p><i class="fa fa-map-marker"></i>36 Street Name, City Name, United States</p>
								<p><i class="fa fa-phone"></i> 010-010-0110 or 020-020-0220</p>
								<p><i class="fa fa-envelope-o"></i> info@company.com</p>
							</address>
						</div>
						<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="contact-form">
								<form action="#" method="post">
									<div class="col-md-6">
										<input type="text" class="form-control" placeholder="Name">
									</div>
									<div class="col-md-6">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									<div class="col-md-12">
										<input type="text" class="form-control" placeholder="Subject">
									</div>
									<div class="col-md-12">
										<textarea class="form-control" placeholder="Message" rows="4"></textarea>
									</div>
									<div class="col-md-8">
										<input type="submit" class="form-control text-uppercase" value="Send">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->
		<!-- start Register -->
		<!--<section id="enter">-->
			<!--<div class="overlay">-->
				<!--<div class="container">-->
					<!--<div class="col-md-12"></div>-->
					<!--<div class="row">-->
						<!--<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">-->
							<!--<h2 class="text-uppercase">Register</h2>-->


						<!--</div>-->
						<!--<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">-->
							<!--<div class="contact-form">-->
								<!--<form action="#" method="post">-->
									<!--<div class="col-md-6">-->
										<!--<input type="text" class="form-control" placeholder="Name">-->
									<!--</div>-->
									<!--<div class="col-md-6">-->
										<!--<input type="email" class="form-control" placeholder="Email">-->
									<!--</div>-->
									<!--<div class="col-md-12">-->
										<!--<input type="text" class="form-control" placeholder="Subject">-->
									<!--</div>-->

									<!--<div class="col-md-8">-->
										<!--<input type="submit" class="form-control text-uppercase" value="Login">-->
									<!--</div>-->
								<!--</form>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</section>-->
		<!-- Register -->
		<!-- Modal -->
		<div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="row text-center">
                      <h3 class="login-title">Site login</h3>
                      <div  class="center-block text-center"  style="width:50%">
                          <a id="sign-in-fb" class="btn btn-block btn-social btn-facebook" href="<%= omniauth_authorize_path('user', 'facebook') %>">
                            <span class="fa fa-facebook"></span> Sign in with Facebook
                          </a>
                      </div>
                      <!--<button type="button" class="btn btn-primary" onclick="authProvider('facebook')">Facebook</button>-->
                      <!--<button class="btn btn-danger" type="button" onclick="authProvider('google')">Google+</button>-->
                      <!---->
                    </div>

                  </div>

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                      <a href="#login-block" role="tab" data-toggle="tab">
                        <icon class="fa fa-sign-in"></icon> Login
                      </a>
                    </li>
                    <li><a href="#register-block" role="tab" data-toggle="tab">
                      <i class="fa fa-user"></i> Register
                    </a>
                    <li><a href="#license-block" role="tab" data-toggle="tab">
                      <i class="fa fa-book"></i> License
                    </a>
                    </li>

                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane fade active in" id="login-block">
                      <div class="modal-body">
                        <%= form_for(User.new, url: session_path(:user), html:{id: 'sign_in_user'}) do |f| %>
                          <!--<h2 class="form-signin-heading">Please sign in</h2>-->
                          <label class="" for="inputEmail">Email address</label>
                          <input type="email" autofocus="" required="" placeholder="Email address" class="form-control" id="user_email" name="user[email]"><br>

                          <label class="" for="password">Password</label>
                          <input type="password" required="" placeholder="Password" class="form-control" id="user_password" name="user[password]">
                          <label class="" for="password_confirmation">Password confirm</label>
                          <input type="password" required="" placeholder="Password" class="form-control" id="password_confirmation" name="user[password_confirmation]" >
                            <% if Devise.mappings[:user].rememberable? -%>
                            <div>
                              <%= f.check_box :remember_me %>
                              <%= f.label :remember_me %>
                            </div>
                           <% end -%>
                          <!--<div class="checkbox">-->
                            <!--<label>-->
                              <!--<input type="checkbox" value="remember-me"> Remember me-->
                            <!--</label>-->

                          <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                      <% end -%>
                      </div>

                      <div class="modal-footer">

                      </div>
                    </div>
                    <div class="tab-pane fade" id="register-block">
                      <div class="modal-body">
                        <!--, :'data-type' => 'json'      remote: true-->
                        <%= form_for(User.new, url: registration_path(:user), html: {id: 'sign_up_user'}) do |f| %>
                          <!--<h2 class="form-signin-heading">Please sign in</h2>-->

                          <label class="" for="name">Name</label>
                          <input type="text" autofocus="" required="" placeholder="Your name" class="form-control" id="user_name" name="user[name]"><br>

                          <label class="" for="user_email">Email address</label>
                          <input type="email" autofocus="" required="" placeholder="Email address" class="form-control" id="user_email" name="user[email]"><br>

                          <label class="" for="user_password">Password</label>
                          <input type="password" required="" placeholder="Password" class="form-control" id="user_password" name="user[password]">
                          <label class="" for="password_confirmation">Password confirm</label>
                          <input type="password" required="" placeholder="Password" class="form-control" id="password_confirmation" name="user[password_confirmation]">

                          <label class="" for="user_location">Location</label>
                          <!--<input type="text" autofocus="" required="" placeholder="Your country" class="form-control" id="user_location" name="user[location]"><br>-->
                            <%= render partial: "pages/country_select" %>
                          <label class="" for="user_about">Description</label>
                          <input type="text" autofocus="" required="" placeholder="Your short description" class="form-control" id="user_about" name="user[about]"><br>
                            <!--<% if Devise.mappings[:user].rememberable? -%>-->
                                <!--<div>-->
                                  <!--<%= f.check_box :remember_me %>-->
                                  <!--<%= f.label :remember_me %>-->
                                <!--</div>-->
                            <!--<% end -%>-->
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" id='license-check' name="license" value="" checked="false"> I have read license agreement
                            </label>
                          </div><br>
                          <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                      </div>
                    </div>
                    <div class="tab-pane fade" id="license-block">

                        <div class="panel-body">
                          <p>license text</p>
                          <p>license text</p>
                          <p>license text</p>
                          <p>license text</p>
                          <p>license text</p>
                          <p>license text</p>

                        </div>
                        <button id="license-btn" class="btn btn-lg btn-primary btn-block">I have read license</button>

                    </div>
                  </div>

                  </div>

                </div>


				</div>
			</div>
		</div>

		<!-- end login -->

		<!--Login social-->
		<div class="modal fade" id="myLoginFull" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title login-title" id="myModalLabel">Site login</h4>
		</div>
		<div class="omb_login">
			<h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
			<div class="row omb_row-sm-offset-3 omb_socialButtons">
				<div class="col-xs-4 col-sm-2">
					<a href="#" class="btn btn-lg btn-block omb_btn-facebook">
						<i class="fa fa-facebook visible-xs"></i>
						<span class="hidden-xs">Facebook</span>
					</a>
				</div>
				<!--<div class="col-xs-4 col-sm-2">-->
					<!--<a href="#" class="btn btn-lg btn-block omb_btn-twitter">-->
						<!--<i class="fa fa-twitter visible-xs"></i>-->
						<!--<span class="hidden-xs">Twitter</span>-->
					<!--</a>-->
				<!--</div>-->
				<div class="col-xs-4 col-sm-2">
					<a href="#" class="btn btn-lg btn-block omb_btn-google">
						<i class="fa fa-google-plus visible-xs"></i>
						<span class="hidden-xs">Google+</span>
					</a>
				</div>
			</div>

			<div class="row omb_row-sm-offset-3 omb_loginOr">
				<div class="col-xs-12 col-sm-6">
					<hr class="omb_hrOr">
					<span class="omb_spanOr">or</span>
				</div>
			</div>

			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-6">
					<form class="omb_loginForm" action="" autocomplete="off" method="POST">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" name="username" placeholder="email address">
						</div>
						<span class="help-block"></span>

						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input  type="password" class="form-control" name="password" placeholder="Password">
						</div>
						<span class="help-block">Password error</span>

						<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
					</form>
				</div>
			</div>
			<div class="row omb_row-sm-offset-3">
				<div class="col-xs-12 col-sm-3">
					<label class="checkbox">
						<input type="checkbox" value="remember-me">Remember Me
					</label>
				</div>
				<div class="col-xs-12 col-sm-3">
					<p class="omb_forgotPwd">
						<a href="#">Forgot password?</a>
					</p>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
		<!--end login social-->


		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<p>Copyright © 2015 Andrey Stepanich MK</p>
				</div>
			</div>
		</footer>
		<!-- end footer -->